* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #191a1b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Winky Sans';

}

.container {
  width: 100%;
  max-width: 400px;
  background-color: #25384b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 1px 0px 3px #bbbec2;
  border-radius: 8px;
  color: white;
  padding: 20px 0px;
}
.output-value {
  font-size: 48px;
  margin-top: 10px;
}
.box-one {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  column-gap: 10px;
}
.box-two {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  column-gap: 24px;
  font-size: 1.2em;
}
.decreaseButton,
.increaseButton {
  background-color: teal;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

input {
  width: 60px;
  padding: 5px 5px;
  border-radius: 7px;
}
p {
  font-size: 1.2em;
  margin-inline: 30px;
}
.resetButton {
  padding: 19px 40px 13px;
  background-color: rgb(225, 30, 69);
  color: white;
  position: relative;
  width: auto;
  display: inline-block;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #ff0000;
  background: #e62222;
  text-align: center;
  padding: 10px 20px;
  margin: 12px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 0px #e62222;
  -moz-box-shadow: 0px 6px 0px #e62222;
  box-shadow: 0px 6px 0px #b20000;
}
.resetButton:active {
  -webkit-box-shadow: 0px 2px 0px #e62222;
  -moz-box-shadow: 0px 2px 0px #e62222;
  box-shadow: 0px 2px 0px #e62222;
  position: relative;
  top: 4px;
}
.button-3d {
  position: relative;
  width: 100%;
  display: inline-block;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #f39c12;
  background: #e67e22;
 text-align: center;
  padding: 0px 30px;
  font-size: 2em;
  margin: 12px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
}

.button-3d:active {
  -webkit-box-shadow: 0px 2px 0px #d35400;
  -moz-box-shadow: 0px 2px 0px #d35400;
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 4px;
}
